Library
Logs
Temp
obj
UserSettings/Layouts/default-2021.dwlt
.vs/Beetle/v16
UserSettings
Beetle.sln
Assembly-CSharp.csproj
*.csproj
.vs/MyPetGirl/v16/.suo
.vs/MyPet/v16/.suo
.vs
MyPetGirl.sln
MyPet.sln
SerializedBuildInfo
